<%= form_for([@ideation_session, @ideation_session.ideas.build], id_theme: id_theme) do |f| %>
  <% if @ideation_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ideation_session.errors.count, "error") %> prohibited this idea from being saved:</h2>
      <ul>
      <% @ideation_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "id_theme",id_theme %>

<br>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :text, class: "form-control", required: true %>
  </div>
  <br>
<div class="field form-group" >
    <div class="btn-group-horizontal" data-toggle="buttons">
      <%= f.label :color, class: "btn c1-bg inline-block" do %>
        <%= f.radio_button :color, "c1", checked: true %>
      <% end %>
      <%= f.label :color, class: "btn c2-bg inline-block" do %>
        <%= f.radio_button :color, "c2"%>
      <% end %>
      <%= f.label :color, class: "btn c3-bg" do %>
        <%= f.radio_button :color, "c3"%>
      <% end %>
       <%= f.label :color, class: "btn c4-bg" do %>
        <%= f.radio_button :color, "c4"%>
      <% end %>
       <%= f.label :color, class: "btn c5-bg" do %>
        <%= f.radio_button :color, "c5"%>
      <% end %>
       <%= f.label :color, class: "btn c6-bg" do %>
        <%= f.radio_button :color, "c6"%>
      <% end %>
       <%= f.label :color, class: "btn c7-bg" do %>
        <%= f.radio_button :color, "c7"%>
      <% end %>
       <%= f.label :color, class: "btn c8-bg" do %>
        <%= f.radio_button :color, "c8"%>
      <% end %>
      

    </div>
  </div>
  <br>
  <br>  
    <button class="btn btn-sm btn-primary  m-t-n-xs" type="submit"><strong>Create Idea</strong></button>
  


<% end %>
