
<ul class="notes <%=idea.color%>">
    <li>
        <div>   
            <small><%= check_box_tag "idea_ids[]", idea.id %></small>
            <% if current_user.id==@ideation_session.user_id %>
                
            <% end %>
            <h4><%= idea.number %></h4>
            <p><%= idea.text %></p>
            <% if current_user.id==@ideation_session.user_id %>
                <%= link_to idea, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                    <i class="fa fa-trash-o"></i>
                <% end %>
            <% end %>
        </div>
    </li>
</ul>

