<% @part = @participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).take %>
<ul class="notes <%=idea.color%>">
    <li>
        <div>
            <% @user = User.find(idea.participant.user_id) %>
            <% if idea.participant.avatar_file_name == @user.user_photo_file_name %>
                <%= image_tag( @user.user_photo.url(:thumb), alt: "image", class: "img-rounded user-img-profile") %>
              <% else %>
                <%= image_tag( idea.participant.avatar_file_name, alt: "image", class: "img-circle user-img-profile") %>
              <% end %>
            <%= idea.participant.nickname %>
            <% if((current_user.id==@ideation_session.user_id) || (@ideation_session.status_votation == true)) %>
                <small><%= check_box_tag "idea_ids[]" , idea.id %></small>
            <% end %> 
            <section id="vote-actions">
                <% if idea.votes.where(idea_id: idea.id, participant_id: @part.id, ideation_session_id: @ideation_session.id).exists? %>
                    <i class="fa fa-thumbs-o-up", title="You voted that idea"></i>
                    <% if(@ideation_session.status_votation) %>
                        <%= link_to '#', onclick: "removeVote($(this))", alt: "Remove vote", title: "Remove vote", class: "remove-vote" do %>
                            <i class="fa fa-times"></i>
                        <% end %>
                    <% end %>
                <% end %>
            </section>
            <h5>ID: <%= idea.number %></h5>
            <p><%= idea.text %></p>

            <% if @ideation_session.allow_comments %>
                <%= link_to idea_comments_path(idea), method: :get do %>
                    <i class="fa fa-comments"></i> <%= Comment.where(idea_id: idea.id).count(:all)  %>
                <% end %>
            <% end %> 
        </div>
    </li>
</ul>

