<% @part = @participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).take %>
<ul class="notes <%=idea.color%>">
    <li>
        <div>
            <small><%= check_box_tag "idea_ids[]", idea.id %></small>
            <section id="vote-actions">
                <% if idea.votes.where(idea_id: idea.id, participant_id: @part.id, ideation_session_id: @ideation_session.id).exists? %>
                    <i class="fa fa-thumbs-o-up", title="You voted that idea"></i>
                    <% if(@ideation_session.status_votation) %>
                        <%= link_to '#', onclick: "removeVote($(this))", alt: "Remove vote", title: "Remove vote", class: "remove-vote" do %>
                            <i class="fa fa-times"></i>
                        <% end %>
                    <% end %>
                <% end %>
            </section>
            <h4><%= idea.number %></h4>
            <p><%= idea.text %></p>
            
            
                
                <% if @ideation_session.allow_comments %>
                    <%= link_to idea_comments_path(idea), method: :get do %>
                        <i class="fa fa-comments"></i>
                    <% end %>
                <% end %> 




            

            <!-- <%= idea.id %> -->

            <%# idea.comments.each do |comment| %>
                <%#= render partial: "comments/comment", object: comment %>
            <%# end %>
            
            <%#= render 'comments/form', object: idea.id %>


        </div>
    </li>
</ul>

