<ul class="notes <%=idea.color%>">
    <li>
        <div>   
            <%= check_box_tag "idea_ids[]", idea.id %>
            <small>12:03:28 12-04-2014</small>
            <h4><%= idea.number %></h4>
            <p><%= idea.text %></p>
            <% if current_user.id==@ideation_session.user_id %>
                <%= link_to idea, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                          <i class="fa fa-trash-o"></i>
                <% end %>
            <% end %>

            <%= idea.id %>
            <%= idea.id %>
            <%= idea.id %>
            <%= idea.id %>
            <%= idea.id %>
            <%= idea.id %>
            <%= idea.id %>
            <%= idea.id %>
            <%= idea.id %>

            <%= link_to idea_comments_path(idea) do %>
                Comentários
            <% end %>

            <%# idea.comments.each do |comment| %>
                <%#= render partial: "comments/comment", object: comment %>
            <%# end %>
            
            <%#= render 'comments/form', object: idea.id %>


        </div>
    </li>
</ul>

