<ul class="notes <%=idea.color%>">
    <li>
        <div>   
            <%= check_box_tag "idea_ids[]", idea.id %>
            <small>12:03:28 12-04-2014</small>
            <h4><%= idea.number %></h4>
            <p><%= idea.text %></p>
            <%= link_to idea, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                      <i class="fa fa-trash-o"></i>
            <% end %>
        </div>
    </li>
</ul>

