  ID da Ideia <%= @idea.id %><br>
  Texto da ideia: <%= @idea.text %><br>
  Sessão: <%= @ideation_session.id %><br>


<%= form_for([@idea, @idea.comments.build]) do |f| %>

<div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>