<div class="col-lg-6">
  ID da Ideia <%= @idea.id %><br>
  Texto da ideia: <%= @idea.text %><br>
  <%=@ideation_session.name %><br><br>


<%= form_for([@idea, @idea.comments.build]) do |f| %>

<div class="field">
    <%= f.text_area :body, class:'form-control',placeholder: "New comment text" %>
  </div>
  <br>
  <div class="actions">
    <button class="btn btn-sm btn-primary  m-t-n-xs" type="submit"><strong>Comment</strong></button>
  </div>

<% end %>
</div>