<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Data</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.participant.nickname   %></td>
        <td><%= comment.created_at %></td>
        <td><%= comment.body %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- 

<%= @idea.id %>
<%= @ideation_session.id %>
 -->

<%= render 'comments/form', id_idea: @idea.id %>
<br>
<%= link_to 'New Comment', new_comment_path %>
