<p id="notice"><%= notice %></p>

    <ul class="notes <%=@idea.color%>">
        <li>
            <div>   
                <h4><%= @idea.id %></h4>
                <p><%= @idea.text %></p>
            </div>
        </li>
    </ul>


  <br><br>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            <div class="text-warning">
              Comments
            </div>
          </h5>
        </div>
        <div class="ibox-content no-padding">
            <ul class="list-group">
            
                <% @comments.each do |comment| %>
                  <li class="list-group-item">
                    <p><a class="text-info" href="#"><%=comment.participant.nickname%>&nbsp&nbsp</a><%= comment.body %></p>
                    <small class="block text-muted"><i class="fa fa-clock-o"></i> &nbsp<%= distance_of_time_in_words(Time.now, comment.created_at) %></small>
                    

                    <% if current_user.id == comment.participant.user_id %>
                    <div align="right">
                      <small> <i class="fa fa-trash"></i>  </small>
                      <small><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></small>
                    </div>
                    <% end %>
                  </li>
                <% end %>

            </ul>
        </div>


    </div>

<%= render 'comments/form', id_idea: @idea.id %>

<br><br><br><br><br><br><br><br>