<%if notice!=nil %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<%end%>

<p>
  <strong>Participant:</strong>
  <%= @comment.participant %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @comment.idea %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
