<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Welcome to Weplim</h2>

            <p>
                Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>

            <p>
                When an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>

            <p>
                <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
            </p>

        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="col-md-6">
            <div class="ibox-content">
                <form class="m-t" role="form" action="#">

                    <div class="form-group">
                    <%= f.email_field :email, autofocus: true ,class: "form-control",placeholder: "Email",required: ""%>
                     </div>

                      <div class="form-group">
                        <%= f.password_field :password, autocomplete: "off",class: "form-control", placeholder: "Password",required: ""%>
                      </div>

                      <div class="form-group">
                        <%= f.submit "Log in",class: "btn btn-primary block full-width m-b" %>
                      </div> 

                    <small><%= link_to "Forgot password?", new_user_password_path %></small>                   
                    <p class="text-muted text-center">
                        <small>Do not have an account?</small>
                    </p>
                    <%= link_to "Create an account", new_user_registration_path, class:"btn btn-sm btn-white btn-block" %>
                </form>
            </div>
        </div>
        <% end %>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Copyright ® Weplim Company
        </div>
        <div class="col-md-6 text-right">
            <small>© 2015-2016</small>
        </div>
    </div>
</div>


