<div class="panel blank-panel">
  <div class="panel-heading">
    

    <br><br>

    <div class="panel-options">
        <ul class="nav nav-tabs">
          <% @themes.each do |theme| %>
             <li class="<%= (@themes.first == theme) ? "active" : "" %>">
                <a data-toggle="tab" href="#tab-<%= theme.id %>" class=""><%= theme.name %></a>
                <% if (@themes.first != theme) and current_user.id==@ideation_session.user_id %>
                  <%= link_to theme,  class: "absolute-top-right remove-button", method: :delete, data: { confirm: 'Are you sure?' } do %>X<% end %>
                <% end %>
             </li>
          <% end %>

          <% if current_user.id==@ideation_session.user_id %> 
          <li>
            <%= render 'themes/form' %>
             <%= button_tag(type: "button", onclick: "showFormTopic();", class: "btn btn-success pull-left add-item") do %>
              <i class="glyphicon glyphicon-plus"></i>

            <% end %>
          </li>
          <% end %>
        </ul>
      
        

    </div>
  </div>


  

  <div class="panel-body">
    <div class="tab-content">
      <% if current_user.id==@ideation_session.user_id %>
        <% @themes.each do |theme| %>
          <div id="tab-<%= theme.id %>" class="tab-pane <%= (@themes.first == theme) ? "active" : "" %>">
            <%= form_for update_theme_ideas_ideas_path, :html => {:id => theme.id, :class => "selected-ideas"}, method: :get do %>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Ideias</h2>
                  <ol class="breadcrumb">
                    <li>
                        <strong><%=@ideation_session.name%></strong>
                    </li>
                    <li class="active">
                      <strong><%=theme.name%></strong>
                    </li>
                  </ol>
                </div>
                    <br><br>
                    <%= render partial: "formTools" %>
                    <% theme.ideas.each do |idea| %>
                    <%= render partial: "ideas/idea", object: idea %>
                  <% end %>
            </div>
    
              <%= hidden_field_tag "id_theme" %>
            <% end %>       

          <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Inserir ideia</h2>
              <%= render 'ideas/form', id_theme: theme.id %>
            </div>
            </div>
          
          </div>
        <% end %>
      <% else %>
          
<% @themes.each do |theme| %>
          <div id="tab-<%= theme.id %>" class="tab-pane <%= (@themes.first == theme) ? "active" : "" %>">
            <%= form_for update_theme_ideas_ideas_path, :html => {:id => theme.id, :class => "selected-ideas"}, method: :get do %>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Ideias</h2>
                  <ol class="breadcrumb">
                    <li>
                        <strong><%=@ideation_session.name%></strong>
                    </li>
                    <li class="active">
                      <strong><%=theme.name%></strong>
                    </li>
                  </ol>
                </div>
                    <br><br>
                    <%= render partial: "formTools" %>
                    <% theme.ideas.each do |idea| %>
                    <%= render partial: "ideas/idea", object: idea %>
                  <% end %>
            </div>
    
              <%= hidden_field_tag "id_theme" %>
            <% end %>       

          <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Inserir ideia</h2>

              <%= render 'ideas/form', id_theme: theme.id %>
            </div>
            </div>
          
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  var showFormTopic = function(){
    $(".new_theme").show();
  }
  
  $.fn.clickOutsideThisElement = function (callback) {
    return this.each(function () {
        var self = this;
        $(document).click(function (e) {
            if (!$(e.target).closest(self).length) {
                callback.call(self, e)
            }
        })
    });
  };

  $(".new_theme").parent().clickOutsideThisElement(function () {
   $(".new_theme").hide();
  }).click(function () {
    console.log("fora");
  });

  function selectedIdeas(keyAction, themeId) {
    $(".selected-ideas").each(function(){
      if($(this).parent().hasClass("active"))
      {
        var form = $(this);
        if (keyAction.toLowerCase() == "changetheme"){
          updateThemeIdeas(form, themeId);
        } else if(keyAction.toLowerCase() == "deleteideias"){      
          deleteIdeas(form);
        }
      }
    })
  }
  function updateThemeIdeas(form, themeId) {
    form.find("#id_theme").val(themeId);
    $.ajax({
      type: "GET",
      url: "/ideas/update_theme_ideas",
      dataType: "json",
      traditional: true,
      data: form.serialize(),
      success: function(data){
        form.find('input:checked').each(function () {
          var ideaForRemove = $(this).parents().eq(2);
          $("form#" + themeId).append(ideaForRemove[0].outerHTML);
          ideaForRemove.fadeOut(500, function() { $(this).remove(); });
        });
        console.log(data[0].message);
      }
    });
  }
  function deleteIdeas(form) {
    $.ajax({
      type: "GET",
      url: "/ideas/delete_ideas",
      dataType: "json",
      traditional: true,
      data: form.serialize(),
      success: function(data){
        form.find('input:checked').each(function () {
          var ideaForRemove = $(this).parents().eq(2);
          ideaForRemove.fadeOut(500, function() { $(this).remove(); });
        });
        console.log(data[0].message);
      }
    });
  }
</script>

