<p id="notice"><%= notice %></p>

<div class="ibox-content">
<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="ibox-content m-b-sm ">
      <div class="p-xs">
        <div class="pull-left m-r-md">
          <i class="fa fa-bookmark text-navy mid-icon"></i>
        </div>
        <h2><strong><%=@ideation_session.name%></strong></h2>
        <span><%=@ideation_session.description%></span>
      </div>
    </div>
    </div>

  <div class="col-xs-6 col-md-4 ">
    <div class="ibox-content m-b-sm border-bottom">
      <div class="p-xs">
        <div class="forum-icon">
          <i class="fa fa-calendar"></i>
        </div>
        <div class="forum-item-title text-info">
          <strong>Idea Generation</strong>
        </div> 
      <div class="forum-sub-title">
        Begin: <%= (@ideation_session.start_time != nil)?  @ideation_session.start_time.strftime("%d %B %Y at %H:%M"): "Not Defined"%>
      <br>
        End: <%= (@ideation_session.end_time != nil) ? @ideation_session.end_time.strftime("%d %B %Y at %H:%M") : "Not defined" %>
      </div>
    </div>
    </div>
    <div class="ibox-content m-b-sm">
      <div class="forum-icon">
        <i class="fa fa-calendar"></i>
      </div>
      <div class="forum-item-title text-info">
        <strong>Votation phase</strong>
      </div> 
        Begin: <%= (@ideation_session.end_time != nil) ? @ideation_session.end_time.strftime("%d %B %Y at %H:%M") : "Not defined" %><br>        
        End: <%= (@ideation_session.end_time != nil) ? @ideation_session.end_time.strftime("%d %B %Y at %H:%M") : "Not defined" %>
    </div>
  </div>

  <div class="col-xs-6 col-md-4">
    <div class="ibox-content m-b-sm border-bottom">
    <div class="p-xs">
      <div class="forum-icon">
        <i class="fa fa-users"></i>
      </div>
      <div class="forum-sub-title">  
        <% if (@ideation_session.anonymity ==0 ) %>
          No Anonimity 
        <%elsif (@ideation_session.anonymity ==1 ) %>
          All anonimous
        <%else%>
          User Choise
        <%end%>
        <br>
        <% if (@ideation_session.allow_comments  ) %>
          Comments Alowed
        <%else%>
          No Comments
        <%end%>
        <br>
        Votes per person: <%= (@ideation_session.number_votes != nil) ? @ideation_session.number_votes : "Not defined" %>
      </div>
    </div>
  </div>

</div>
       <div class="col-xs-6 col-md-4">
      <div class="ibox-content m-b-sm">
        <div class="p-xs">
          <div class="forum-icon">
            <i class="fa fa-archive"></i>
          </div>
          <div class="forum-item-title ">
            Dinamizador: 
          <% if User.find(@ideation_session.user_id).name? %>
            <%= User.find(@ideation_session.user_id).name %>
          <% else %>
            <%= User.find(@ideation_session.user_id).email %>
          <% end %>
          </div>
          <div class="forum-item-title ">
          Session Status: 
          <% if @ideation_session.available_session  %>
            Generating Ideas
          <% elsif @ideation_session.status_votation %>
            Voting
          <%else%>
            Session Closed
          <%end%>  
          </div>
              <div class="forum-item-title ">
                <%= @ideation_session.nideas %> Ideas generated
              </div>
          </div>
        </div>
      </div>
</div>


</div>

<div class= "field">
<% if current_user.id==@ideation_session.user_id %>
  <%= render 'participants/form' %>
<% end %>
</div>
<h2>Participants</h2>
 
<div class= "field">
  <%= render @participants %>
</div>


<script>
  $(document).ready(function() {
    $('.footable').footable();
  });
</script>

