<%= form_for(@ideation_session) do |f| %>
  <% if @ideation_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ideation_session.errors.count, "error") %> prohibited this ideation_session from being saved:</h2>

      <ul>
      <% @ideation_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

 <div class="field">
    <%= f.select :anonymity, options_for_select([["No Anonymity",0],["All Anonymous",1],["User Choice",3]]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
