

<%= form_for(@ideation_session) do |f| %>
  <% if @ideation_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ideation_session.errors.count, "error") %> prohibited this ideation_session from being saved:</h2>

      <ul>
      <% @ideation_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">

  <div class="col-xs-6 col-md-6">
    <div class="m-b-sm ">
      <div class="p-xs">
        <div class="pull-left m-r-md">
  <div class="field">
    
    <%= f.text_field :name, placeholder: :name, class: "form-control ", required: true %>
  </div>
  <br>
  <div class="field">
    <%= f.text_area :description, placeholder: :description, class: "form-control", required: true %>
  </div>
  <br>
  <div class="field">
    <label>Set duration</label>
    <div class="input-daterange input-group">
      <%= f.text_field :start_time, class: "input-sm form-control", placeholder: "Start date", value: (@ideation_session.start_time != nil) ? @ideation_session.start_time.strftime("%d %B %Y - %H:%M") : "" %>
      <%= hidden_field_tag "start_time_value" %>
      <span class="input-group-addon">to</span>
      <%= f.text_field :end_time, class: "input-sm form-control", placeholder: "End date", value: (@ideation_session.end_time != nil) ? @ideation_session.end_time.strftime("%d %B %Y - %H:%M") : "" %>
      <%= hidden_field_tag "end_time_value" %>
    </div>
    <small class="text-navy">You can activate params of votation if you set end date.</small>
  </div>
  <br>
  <div id="params_votation">
    <div class="field">
      <label>Set number of votes</label>
      <br>
      <%= f.number_field :number_votes, in: 0..100, step: 1, value: (@ideation_session.number_votes != nil) ? @ideation_session.number_votes : 3, disabled: (@ideation_session.end_time != nil) ? false : true  %>
    </div>

    <br>
    <div class="field">
      <label>Set duration votation</label>
      <div class="input-daterange input-group">
        <%= f.text_field :start_time_votation, disabled: true, class: "input-sm form-control", placeholder: "Start date", value: (@ideation_session.end_time != nil) ? @ideation_session.end_time.strftime("%d %B %Y - %H:%M") : "" %>
        <%= hidden_field_tag "start_time_votation_value" %>
        <span class="input-group-addon">to</span>
        <%= f.text_field :end_time_votation, disabled: (@ideation_session.end_time != nil) ? false : true, class: "input-sm form-control", placeholder: "End date", value: (@ideation_session.end_time_votation != nil) ? @ideation_session.end_time_votation.strftime("%d %B %Y - %H:%M") : "" %>
        <%= hidden_field_tag "end_time_votation_value" %>
      </div>
    </div>
  </div>
  <br>

  <label>Anonimity</label>
  <div class="field ibox-content m-b-sm">
    <label><%= f.radio_button :anonymity, '1',:checked => true%> All anonimous</label>
    <br>
    <label><%= f.radio_button :anonymity, '0' %> No anonimity</label>
    <br>
     <label><%= f.radio_button :anonymity, '2'  %> User choice</label>
  </div>

  <label>Comments</label>
  <div class="field ibox-content" >
    <label><%= f.radio_button :allow_comments, true, :checked => true %> Allow comments</label>
    <br>
    <label><%= f.radio_button :allow_comments, false %> No comments</label>
  </div>

  <label>Private/Public session</label>
  <div class="field ibox-content ">
    <label><%= f.radio_button :private_session, true, :checked => true %> Private session</label>
    <br>
    <label><%= f.radio_button :private_session, false%> Public session</label>
  </div>
 
  <br>

  <div class="field">
    <div class="actions">
      <button class="btn btn-sm btn-primary  m-t-n-xs" type="submit"><strong>Create</strong></button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#params_votation").hide();
    var datepickerStartId = "#ideation_session_start_time";
    var datepickerEndId = "#ideation_session_end_time";
    var datepickerStartVotationId = "#ideation_session_start_time_votation";
    var datepickerEndVotationId = "#ideation_session_end_time_votation";

    $(datepickerStartId).datetimepicker({ 
      format: "DD MMMM YYYY - HH:mm"
    });
    $(datepickerEndId).datetimepicker({ 
      format: "DD MMMM YYYY - HH:mm",
      useCurrent: false
    });
    $(datepickerStartVotationId).datetimepicker({ 
      format: "DD MMMM YYYY - HH:mm"
    });
    $(datepickerEndVotationId).datetimepicker({ 
      format: "DD MMMM YYYY - HH:mm",
      minDate: "<%= (@ideation_session.end_time != nil) ? @ideation_session.end_time.to_s : 0 %>",
      useCurrent: false
    });
    $(datepickerStartId).on("dp.change", function (e) {
      $("#start_time_value").attr('value', $(datepickerStartId).val());
      $(datepickerEndId).data("DateTimePicker").minDate(e.date);
    });
    $(datepickerEndId).on("dp.change", function (e) {
      $("#end_time_value").attr('value', $(datepickerEndId).val());
      $("#start_time_votation_value").attr('value', $(datepickerEndId).val());
      $(datepickerStartVotationId).val($(datepickerEndId).val());
      $(datepickerEndVotationId).val($(datepickerEndId).val());
      $(datepickerStartId).data("DateTimePicker").maxDate(e.date);  
      $(datepickerEndVotationId).data("DateTimePicker").minDate(e.date);   
      if(e.date == false)
      {
        $(datepickerEndVotationId).val("");
        $("#ideation_session_number_votes")[0].setAttribute("disabled", "true");
        $(datepickerEndVotationId)[0].setAttribute("disabled", "true");
        $("#params_votation").hide();
      } else {
        $("#ideation_session_number_votes")[0].removeAttribute("disabled");
        $(datepickerEndVotationId)[0].removeAttribute("disabled");
        $("#params_votation").show();
      }
    });
    $(datepickerStartVotationId).on("dp.change", function (e) {
      $("#start_time_votation_value").attr('value', $(datepickerStartVotationId).val());
      $(datepickerEndVotationId).data("DateTimePicker").minDate(e.date);
    });
    $(datepickerEndVotationId).on("dp.change", function (e) {
      $("#end_time_votation_value").attr('value', $(datepickerEndVotationId).val());
      $(datepickerStartVotationId).data("DateTimePicker").maxDate(e.date);
    });
  });
</script>
