<div class="col-lg-6">
<%= form_for(@ideation_session) do |f| %>
  <% if @ideation_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ideation_session.errors.count, "error") %> prohibited this ideation_session from being saved:</h2>

      <ul>
      <% @ideation_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: :name, class: "form-control", required: true %>
  </div>
  <br>
  <div class="field">
    <%= f.text_area :description, placeholder: :description, class: "form-control", required: true %>
  </div>
  <br>
  <div class="field">
    <label>Set number of votes</label>
    <br>
    <%= f.number_field :number_votes, in: 0..100, step: 1, value: (@ideation_session.number_votes != nil) ? @ideation_session.number_votes : 3  %>
  </div>
  <br>
  <div class="field">
    <label>Set duration</label>
    <div class="input-daterange input-group">
      <%= f.text_field :start_time, class: "input-sm form-control", value: (@ideation_session.start_time != nil) ? @ideation_session.start_time.strftime("%d %B %Y - %H:%M") : "" %>
      <%= hidden_field_tag "start_time_value" %>
      <span class="input-group-addon">to</span>
      <%= f.text_field :end_time, class: "input-sm form-control", value: (@ideation_session.end_time != nil) ? @ideation_session.end_time.strftime("%d %B %Y - %H:%M") : "" %>
      <%= hidden_field_tag "end_time_value" %>
    </div>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.select :anonymity, options_for_select([["No Anonymity",0],["All Anonymous",1],["User Choice",2]]) %>
  </div>
  <br>
  <div class="field">
    <%= f.select :allow_comments, options_for_select([["Allow Comments",true],["No Comments",false]]) %>
  </div>
  <br>
  <div class="field">
    <div class="actions">
      <button class="btn btn-sm btn-primary  m-t-n-xs" type="submit"><strong>Create Ideation session</strong></button>
    </div>
  </div>

 
<% end %>
<%= link_to 'Back', ideation_sessions_path %>

</div>
<script type="text/javascript">
  $(document).ready(function() {
    var datepickerStartId = "#ideation_session_start_time";
    $(datepickerStartId).datetimepicker({ 
      format: "DD MMMM YYYY - HH:mm"
    });

    var datepickerEndId = "#ideation_session_end_time";
    $(datepickerEndId).datetimepicker({ 
      format: "DD MMMM YYYY - HH:mm",
      useCurrent: false
    });

    $(datepickerStartId).on("dp.change", function (e) {
      $("#start_time_value").attr('value', $(datepickerStartId).val());
      $(datepickerEndId).data("DateTimePicker").minDate(e.date);
    });
    $(datepickerEndId).on("dp.change", function (e) {
      $("#end_time_value").attr('value', $(datepickerEndId).val());
      $(datepickerStartId).data("DateTimePicker").maxDate(e.date);
    });
  });
</script>
