<p id="notice"><%= notice %></p>

<h1>Listing Ideation Sessions</h1>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <% @ideation_sessions.each do |ideation_session| %>
      <% if current_user.id==ideation_session.user_id or 
  @participants.where(email: current_user.email, ideation_session_id: ideation_session.id).exists? %>
          <div class="col-lg-6">
            <div class="widget navy-bg no-padding">
              <div class="p-m">
              <div class="col-xs-8 text-right">
                </div>
                <h1 class="m-xs font-bold"><%= ideation_session.name %></h1>
                <%= (ideation_session.start_time != nil) ? ideation_session.start_time.strftime("Start on %d %B %Y at %H:%M") : "" %>
                <br>
                <%= (ideation_session.end_time != nil) ? ideation_session.end_time.strftime("Ends on %d %B %Y at %H:%M") : "" %>
                <br>
                <%=ideation_session.description %>
                <br><br>
                <div class = "linkbranco">
                  <h2 class="font-bold">
                    <%= link_to ideation_session, method: :get  do %>
                      <i class="fa fa-eye"></i>
                    <%end %>
                    <% if current_user.id==ideation_session.user_id %>
                      <%= link_to edit_ideation_session_path(ideation_session), method: :get do %>
                        <i class="fa fa-edit"></i>
                      <%end %>
  
                      <%= link_to ideation_session, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                        <i class="fa fa-trash-o"></i>
                      <%end %>
                    <%end %>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
