<% if current_user.id==@ideation_session.user_id or 
	@participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).exists? %>

    <% if @participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).take.active == false %>
        <% @part = @participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).take.update_attribute(:active, true) %>

    <% else %>
    
	<% end %>
	
	<div id="countdown">
    </div>
	<p id="notice"><%= notice %></p>

	<%= render 'themes/partial_index' %>

	<% if current_user.id==@ideation_session.user_id %>
		<!--<%= render 'participants/partial_index' %>-->
		<!--<%= render 'participants/form' %>-->
	<% end %>
	<!--<%= link_to 'Edit', edit_ideation_session_path(@ideation_session) %> |-->
	<br>
	<!--<%= link_to 'Back', ideation_sessions_path %>|-->
<% else %>
	<p>
		Access denied.
	</p>
<% end %>	
<script type="text/javascript">
	
	var endTime = <%= Time.zone.parse(@ideation_session.end_time.to_s).to_i %>;
	var dateFinish = endTime * 1000;
	if(new Date() <= dateFinish){
		var timerId =
		  countdown(
		    dateFinish,
		    function(ts) {
		      document.getElementById('countdown').innerHTML = ts.toHTML("strong");
		      if(ts.days == 0 && ts.hours == 0 && ts.minutes == 0 && ts.seconds == 0)
		      	clearInterval(timerId);
		    },
		    countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
	}
</script>