<% if current_user.id==@ideation_session.user_id or 
	@participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).exists? %>

    <!-- faz utilizador ficar activo se ainda não o era na sessão e adicionar o user_id ao participante = ao current_user.id -->
    <% if @participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).take.active == false %>
        <% @part = @participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).take.update_attribute(:active, true) %>
    	o utilizador foi activado
    <% else %>
    	utilizador já activo
	<% end %>


    <!-- define o nickname e imagem do participante, consoante o anonimato da sessão -->

	<!-- todos anonimos, por defeito, não precisa fazer nada -->

	<!-- sem anonimato -->
	<% if @ideation_session.anonymity==0 %>
		<% #@part = @participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).take.update_attribute(:active, true) %>
         
	<!-- o user decide -->
	<% elsif @ideation_session.anonymity==2 %>
		<!-- FALTA FAZEER -->
		<!-- FALTA FAZEER -->
		<!-- FALTA FAZEER -->
		<!-- FALTA FAZEER -->

	
	<!-- falta deixar o utilizador decidir -->
	<% end %>


	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @ideation_session.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @ideation_session.description %>
	</p>
	<%= render 'themes/partial_index' %>
	<%= render 'themes/form' %>
	<%= render 'ideas/partial_index' %>
	<%= render 'ideas/form' %>

	<% if current_user.id==@ideation_session.user_id %>
		<%= render 'participants/partial_index' %>
		<%= render 'participants/form' %>
	<% end %>
	<%= link_to 'Edit', edit_ideation_session_path(@ideation_session) %> |
	<%= link_to 'Back', ideation_sessions_path %>
	<% #link_to 'Participantes', ideation_session_participants_path(@ideation_session) %>

<% else %>
	<p>
		Não tem acesso a esta sessão
	</p>
<% end %>	