<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ideation_session.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ideation_session.description %>
</p>
<%= render 'themes/partial_index' %>
<%= render 'themes/form' %>
<%= render 'ideas/partial_index' %>
<%= render 'ideas/form' %>



<%= link_to 'Participantes', ideation_session_participants_path(@ideation_session) %>



<%= render 'participants/partial_index' %>

<%= render 'participants/invite_form' %>


<%= link_to 'Edit', edit_ideation_session_path(@ideation_session) %> |
<%= link_to 'Back', ideation_sessions_path %>
