<% if current_user.id==@ideation_session.user_id or 
	@participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).exists? %>

    <% if @participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).take.active == false %>
        <% @part = @participants.where(email: current_user.email, ideation_session_id: @ideation_session.id).take.update_attribute(:active, true) %>

    <% else %>
    
	<% end %>

	<p id="notice"><%= notice %></p>

	<%= render 'themes/partial_index' %>

	<% if current_user.id==@ideation_session.user_id %>
		<!--<%= render 'participants/partial_index' %>-->
		<!--<%= render 'participants/form' %>-->
	<% end %>
	<!--<%= link_to 'Edit', edit_ideation_session_path(@ideation_session) %> |-->
	<!--<%= link_to 'Back', ideation_sessions_path %>-->
<% else %>
	<p>
		Não tem acesso a esta sessão
	</p>
<% end %>	