<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>

                <% if current_user.user_photo? %>
                    <%= image_tag( current_user.user_photo.url(:thumb), alt: "image", class: "img-rounded user-img-profile")%>
                <% else %>
                    <%= image_tag(((current_user.user_photo_file_name) ? current_user.user_photo_file_name : "default_profile.png"), alt: "image", class: "img-rounded user-img-profile") %>
                <% end %>

                <% if user_signed_in? %>
                    <% if current_user.name? %>
                        <%= current_user.name %></span>
                    <% else %>
                        <%= current_user.email %></span>
                    <% end %>
                <% end %>

                </li>
        <% if user_signed_in? %>

            <li>
                <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_user_registration_path  %>
            </li>

            <li>
                <%= link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_user_session_path, method: :delete  %>
            </li>
        <% end %>
    </ul>
</nav>
</div>